/** CSS STYLE **/

.hello {
  display: block;

  color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --белый: #fff;
  --Полупрозрачный-белый: #d7ccc0;
  --Светлый: #f5f4f0;
  --Основной: #fe8a02;
  --Основной-тёмный: #42413c;
  --Тёмный: #2a2626;
  --Полупрозрачный-тёмный: #908d8b;
  --Коричневый: #b09a81;
  --Синий: #1085c5;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--Тёмный);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
  font-family: 'Neucha', cursive;
  /* font-size: 16px; */
  font-weight: 400;
  /* line-height: 1.6em; */
  color: var(--Основной);
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

section {
  margin: 0px auto;
  padding: 100px 0px;
  width: 1110px;
}
.header {
  background: var(--Светлый);
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.header::before {
  content: url(/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  opacity: 0.1;
  z-index: -1;
}
.main-title {
  color: var(--Основной);
}
.main-title-diff {
  color: var(--Тёмный);
}
.header-section {
  position: relative;
}
.img-main {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}
.header-text {
  column-count: 2;
  column-gap: 30px;
}
.header-inner-text {
  margin-bottom: 70px;
}

.header-inner-text-last {
  margin-bottom: 40px;
} 
.header-link {
  width: 150px;
  height: 50px;
  font-weight: 700;
  color: var(--Светлый);
  background-color: var(--Основной);
  text-decoration: none;
  padding: 12px 24px;
  text-transform: uppercase;
}
.header-link:hover {
  background-color: #EA7600;

}
.second-section {
  text-align: center;
}
.second-section-diff {
  color: var(--Тёмный);
}
.header-second-section {
  margin-bottom: -170px;
  margin-top: 27px;
}
.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  position: relative;
  bottom: -200px;
}
#navigation {
  background-color: var(--Основной-тёмный);
}
.third-section {
  padding-top: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header-navigation {
  line-height: 1.2em;
  font-family: 'Neucha', cursive;
  font-size: 52px;
  font-weight: 400;
  width: 350px;
  margin-bottom: 20px;
  /* line-height: 1.6em; */
  color: var(--Основной);
}
.third-section-diff {
  color: var(--белый);
}
.card {
  display: block;
  padding: 24px;
  width: 350px;
  background-color: var(--Светлый);
  text-decoration: none;
  color: var(--Тёмный);
  margin-bottom: 20px ;
}
.card:hover {
  background-color: var(--Основной);
  color: var(--белый);
  .card-header {
    color: var(--белый);
  }
}
.number {
  font-family: 'Neucha', cursive;
  font-size: 64px;
  line-height: 1;
  margin-bottom: 40px;

}
.card-header {
  margin-bottom: 16px;
  color: #fe8a02;
}
#ikea-effect {
  background: var(--Светлый);
  position: relative;
  overflow: hidden;
  z-index: 1;
  
}
#ikea-effect::before {
  content: url(/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  opacity: 0.1;
  z-index: -1;
}

.light-section {
  column-count: 2;
  column-gap: 30px;
  
}
.img-ikea {
  width: 578px;
  height: 434px;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}
.wrapper-light-section {
  margin-left: 38px;
}
.light-paragraph {
  font-family: 'Neucha', cursive;
  font-size: 24px;
  color: var(--Полупрозрачный-тёмный);
}
.light-header {
  margin-bottom: 30px;
  color: var(--Тёмный);
}
.wrapper-light-section > h3 {
  color: var(--Тёмный);
}
.wrapper-light-header {
  font-size: 14px ;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: var(--белый);
  display: block;
  background-color: var(--Коричневый);
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px 0px;
  padding-left: 10px;
  text-transform: uppercase;
}
.light-footer {
  column-count: 2;
  column-gap: 30px;
}
#premature-optimization {
  background: var(--Коричневый);
  position: relative;
  overflow: hidden;
  z-index: 1;
}
#premature-optimization::before {
  content: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  opacity: 0.1;
  z-index: -1;
}
.dark-section {
  column-count: 2;
  column-gap: 30px;
}
.premature-optimization-paragraph {
  font-family: 'Neucha', cursive;
  font-size: 24px;
  color: var(--Полупрозрачный-белый);
}
.premature-optimization-header {
  margin-bottom: 30px;
  color: var(--белый);
}

.wrapper-premature-optimization-section > h3 {
  color: var(--белый);
}

.img-premature-optimization {
  margin-left: -38px;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}
.wrapper-dark-header {
  font-size: 14px ;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: var(--Коричневый);
  display: block;
  background-color: var(--белый);
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px 0px;
  padding-left: 10px;
  text-transform: uppercase;
}
.dark-footer {
  column-count: 2;
  column-gap: 30px;
  color: var(--белый);
}
#distortion-of-novelty {
  background: var(--Светлый);
  position: relative;
  overflow: hidden;
  z-index: 1;
  
}
#distortion-of-novelty::before {
  content: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  opacity: 0.1;
  z-index: -1;
}
.img-distortion-of-novelty {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}
